<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Name: <%= @user_params[:first_name] %> <%= @user_params[:last_name] %>
    </p>
    <p>
      Email: <%= @user_params[:email] %>
    </p>
  </body>
</html>