<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user_params[:first_name] %>,</p>
    <p>As an Amazon seller myself, I know how confusing and time consuming it gets to find valuable information for growing my business.</p>
    <p>Through FBA Digest, I want to make our life a little easier by having all the relevant information in one place.</p>
    <p>If you have any questions or feedback, don't hesitate to write me an email at <a href="serge@fbadigest.com">serge@fbadigest.com</a> or use <a href="https://www.fbadigest.com/contact-us">the contact form</a>.</p>
    <p>I invite you to watch this video where I showcase the most important features of FBA Digest:</p>
    <a href="https://www.youtube.com/watch?v=4wz-mjjdSAk"><img src="https://i.imgur.com/d4iK6FP.jpg"></a>
    <p>Take care,</p>
    <p>Serge Nikita<br>
    Founder, FBA Digest</p>
  </body>
</html>