<script type="text/javascript">
	var is_saved_posts_page = false;
	var is_posts_page = true;
</script>

<main role="main" class="container-fluid">
	<div class="row" id="posts">
		<%= render partial: 'load_posts' %>
	</div>
</main>