<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<div class="modal-body">
		<div class="form-group">
			<%= f.label :email %>
			<%= f.email_field :email, autofocus: true, required: true, autocomplete: 'email', :class => 'form-control', :placeholder => 'Enter email' %>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">Send me reset password instructions</button>
	</div>
<% end %>