<main class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>About FBA Digest</h1>
			<p>FBA Digest was founded in 2018 by me, Serge Nikita. I'm an Amazon Private Label seller currently netting 6 figures a year and I have a background in software development.</p>

			<p><img class="responsive-image" src="/images/about.jpg"></p>

			<p>The Amazon landscape is constantly shifting, and there is a high need for up to date information about everything concerning FBA selling and Amazon in general.</p>

			<p>I've subscribed to tens of blogs, podcasts and official Amazon information sources over the years and looked for a platform that would feed all this information to me in a unified, more organized manner.</p>

			<p>Couldn't find ths platform, so I've created one... welcome to FBA Digest!</p>

			<p>Please watch this video where I showcase all the important features of this web application:</p>

			<div class="video-container">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/4wz-mjjdSAk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>

			<br clear="all">
		</div>
	</div>
</main>