<main class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Partners</h1>
			<div class="jumbotron">
			  <h2 class="display-4">GS1</h2>
			  <p class="lead">The partnership between FBA Digest and GS1 has the purpose of promoting the correct information on standardized GS1 coding of products in online retail.</p>
			  <hr class="my-4">
			  <div class="container">
			  	<div class="row">
			  		<div class="col-lg-6">
			  			<img src="/images/gs1.jpg" class="float-left mr-2 mb-2" style="max-width: 100%">
			  		</div>
			  		<div class="col-lg-6">
						  <p>Amazon requires the use of product identification codes assigned by GS1 alone. They are doing this because:</p>
						  <ul class="list-group">
								<li class="list-group-item"><strong>GS1 has over 40 years of experience</strong>: Since 1973, <a href="https://www.gs1.org/" target="_blank">GS1</a> helps identify products through the use of GTIN (Global Trade Item Number) and automatic data capture by scanning EAN/UPC bar codes, with more than 5 million users today.</li>
								<li class="list-group-item"><strong>Assigns Unique Global Identification IDs under license</strong>, avoiding situations where more than one product would have the same identifier, a situation that would generate an information conflict and automatic product delisting Amazon.</li>
								<li class="list-group-item"><strong>Ensures Product Code authentication</strong>: Any GS1 member receives a GS1 License Certificate as the sole licensee for that code.</li>
								<li class="list-group-item"><strong>Provides training, consulting, support</strong>: GS1 users benefit from courses, webinars, phone support and business development consulting using GS1 standards and solutions.</li>
							</ul>
			  		</div>
			  	</div>
			  </div>
    </div>
  </div>
</main>