<main class="container resources-page">
	<div class="row">
		<div class="col-sm-12">
			<h1>Resources</h1>
			<p>This page contains links to websites that helped me along the way, or tools that complement a successful business on Amazon. I've used some of them personally, for others I've received recommendations from other experienced sellers.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Blogs and podcasts
			  </div>
				<ul class="list-group list-group-flush">
				<li class="list-group-item"><a target="_blank" href="http://theamazingseller.com">The Amazing Seller</a></li>
				<li class="list-group-item"><a target="_blank" href="https://www.ampmpodcast.com/">AM/PM Podcast</a></li>
				<li class="list-group-item"><a target="_blank" href="https://www.junglescout.com/blog/">Jungle Scout Blog</a></li>
				<li class="list-group-item"><a target="_blank" href="https://viral-launch.com/amazon-blog/">Viral Launch Blog</a></li>
				<li class="list-group-item"><a target="_blank" href="https://www.sellerlabs.com/blog/">Seller Labs Blog</a></li>
				<li class="list-group-item"><a target="_blank" href="http://amzsecrets.com/">AMZsecrets</a></li>
				</ul>
			</div>
		</div>
				<div class="col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Product research
			  </div>
				<ul class="list-group list-group-flush">
				<li class="list-group-item"><a target="_blank" href="https://affiliate.junglescout.com/idevaffiliate.php?id=2167&tid1=site">Jungle Scout</a></li>
				<li class="list-group-item"><a target="_blank" href="https://www.amztracker.com/">AMZ Tracker</a></li>
				<li class="list-group-item"><a target="_blank" href="http://www.unicornsmasher.com/">Unicorn Smasher</a></li>
				<li class="list-group-item"><a target="_blank" href="https://www.camelcamelcamel.com/">CamelCamelCamel</a></li>
				</ul>
			</div>
		</div>
				<div class="col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Keyword research
			  </div>
				<ul class="list-group list-group-flush">
				<li class="list-group-item"><a target="_blank" href="https://crushtrk.com/?a=55&c=7&p=r&s1=site">Helium10</a></li>
				<li class="list-group-item"><a target="_blank" href="http://www.keywordinspector.com/simple/index.php">Keyword Inspector</a></li>
				<li class="list-group-item"><a target="_blank" href="https://www.merchantwords.com/">MerchantWords</a></li>
				<li class="list-group-item"><a target="_blank" href="http://sonar-tool.com/">Sonar</a></li>
				<li class="list-group-item"><a target="_blank" href="http://keywordtool.io/amazon">Keyword Tool</a></li>
				</ul>
			</div>
		</div>
				<div class="col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Discount codes distribution
			  </div>
				<ul class="list-group list-group-flush">
				<li class="list-group-item"><a target="_blank" href="https://www.tomoson.com/">Tomoson</a></li>
				<li class="list-group-item"><a target="_blank" href="https://www.jumpsend.com/">Jump Send</a></li>
				</ul>
			</div>
		</div>
				<div class="col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Follow-up email automation
			  </div>
				<ul class="list-group list-group-flush">
				<li class="list-group-item"><a target="_blank" href="https://www.salesbacker.com/">Salesbacker</a></li>
				<li class="list-group-item"><a target="_blank" href="https://www.jumpsend.com/">Jump Send</a></li>
				</ul>
			</div>
		</div>
				<div class="col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Freight forwarders
			  </div>
				<ul class="list-group list-group-flush">
				<li class="list-group-item"><a target="_blank" href="http://lhdlogistics.com/">LHD Logistics</a> - China-based company</li>
				<li class="list-group-item"><a target="_blank" href="http://www.fbachiever.com/">FBAchiever</a> - China-based company</li>
				<li class="list-group-item"><a target="_blank" href="https://www.freightos.com/">Freightos</a> - Freight fowarder search engine</li>
				</ul>
			</div>
		</div>
				<div class="col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Quality control services
			  </div>
				<ul class="list-group list-group-flush">
				<li class="list-group-item"><a target="_blank" href="http://www.inspectorcontrol.com/">Inspector Control</a> - use the code <strong>ROAMZ10</strong> to receive a 10% discount on their services!</li>
				<li class="list-group-item"><a target="_blank" href="https://www.qima.com/">QIMA</a> - search platform which helps you find quality control companies all over the world, including China</li>
				</ul>
			</div>
		</div>
						<div class="col-sm-6 col-md-4">
			<div class="card">
			  <div class="card-header">
			    Other
			  </div>
				<ul class="list-group list-group-flush">
				<li class="list-group-item"><a target="_blank" href="https://sellercentral.amazon.com/hz/fba/profitabilitycalculator/index?lang=en_US">FBA Revenue Calculator</a></li>
				<li class="list-group-item"><a target="_blank" href="https://services.amazon.com/fulfillment-by-amazon/pricing.htm">FBA Pricing</a></li>
				</ul>
			</div>
		</div>
	</div>
</main>