<div class="modal fade" id="signInMessageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please sign in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>To save posts for later reading and many other personalized features, please sign in.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="$('#signInMessageModal').modal('hide');$('#loginModal').modal('show');">Sign in</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>